  <div class="headparallax parallax-scene-js parallax-scene" data-scalar-x="10" data-scalar-y="15">
                    <div class="layer-shrink">
                        <div class="layer" data-depth="0.3"><img src="{{asset "images/shrink.svg"}}" alt=""
                                width="682" />
                        </div>
                    </div>
                    <div class="gold-maple-small">
                        <div class="layer small-parallax" data-depth="0.3">
                            <img src="{{asset "assets/images/elements/orangeoak.svg"}}" alt="" width="100" />
                        </div>
                    </div>
                    <div class="red-leaf-big">
                        <div class="layer" data-depth="0.2"><img src="{{asset "images/elements/redleaf.svg"}}" alt=""
                                width="54" />
                        </div>
                    </div>

                    <div class="pink-leaf-regular">
                        <div class="layer" data-depth="0.3"><img src="{{asset "assets/images/elements/pinkleaf.svg"}}"
                                alt="" width="124" />
                        </div>
                    </div>

                    <div class="purple-oak-small">
                        <div class="layer" data-depth="0.4"><img src="{{asset "images/elements/purpleoak.svg"}}" alt=""
                                width="200" />
                        </div>
                    </div>

                    <div class="purple-leaf-regular">
                        <div class="layer" data-depth="0.65"><img src="{{asset "images/elements/purpleleaf.svg"}}"
                                alt="" width="104" />
                        </div>
                    </div>
                </div>