<header class="section novi-bg novi-bg-img page-header breadcrumbs-custom-wrap bg-gradient bg-secondary-2">
    <div class="rd-navbar-wrap rd-navbar-default">
        <nav class="rd-navbar" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-fullwidth" data-xl-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-xxxl-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-fullwidth" data-xl-device-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-xxxl-device-layout="rd-navbar-static" data-stick-up-offset="1px" data-sm-stick-up-offset="1px" data-md-stick-up-offset="1px" data-lg-stick-up-offset="1px" data-xl-stick-up-offset="1px" data-xxl-stick-up-offset="1px" data-xxx-lstick-up-offset="1px" data-stick-up="true">
            <div class="rd-navbar-inner">
                <div class="rd-navbar-panel">
                    <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                    <div class="rd-navbar-brand">
                    <a class="brand-name" href="index.html"><img class="logo"
                        src="{{asset "images/logo-white-horizontal-no-marketing.svg"}}" width="230" /></a>
                    </div>
                </div>    
                <div class="rd-navbar-aside-right">
                    <div class="rd-navbar-nav-wrap">
                        <ul class="rd-navbar-nav">
                            {{#foreach @site.navigation}}
                                <li class="rd-nav-item active"><a class="rd-nav-link" href="{{@site.url}}/{{label}}">{{label}}</a>
                                    <ul class="rd-menu rd-navbar-dropdown">
                                        <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="landing-default.html">Landing
                                            Default</a>
                                        </li>
                                        <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="landing-auction.html">Landing
                                            Auction</a>
                                        </li>
                                        <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="landing-environmental.html">Landing
                                            Environmental</a>
                                        </li>
                                        <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="landing-it-company.html">Landing IT
                                            Company</a>
                                        </li>
                                        <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="landing-maritime.html">Landing
                                            Maritime</a>
                                        </li>
                                        <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="landing-museum.html">Landing
                                            Museum</a>
                                        </li>
                                        <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="landing-private-airlines.html">Landing Private Airlines</a>
                                        </li>
                                        <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="landing-taxi.html">Landing Taxi</a>
                                        </li>
                                        <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="landing-trucking.html">Landing
                                            Trucking</a>
                                        </li>
                                        <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="landing-theatre.html">Landing
                                            Theatre</a>
                                        </li>
                                        <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="landing-movie.html">Landing
                                            Movie</a>
                                        </li>
                                        <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="landing-seo.html">Landing SEO</a>
                                        </li>
                                    </ul>
                                </li>
                            {{/foreach}}
                        </ul>
                    </div>
                    <div class="rd-navbar-collapse-toggle" data-rd-navbar-toggle=".rd-navbar-collapse"><span></span></div>
                    <div class="rd-navbar-aside-right-inner rd-navbar-collapse">
                    <!-- RD Navbar Search-->
                        <div class="rd-navbar-search"><a class="rd-navbar-search-toggle"
                            data-rd-navbar-toggle=".rd-navbar-search" href="#"><span></span></a>
                            <form class="rd-search" action="search-results.html" data-search-live="rd-search-results-live"
                            method="GET">
                                <div class="form-wrap">
                                    <label class="form-label form-label" for="rd-navbar-search-form-input">Search...</label>
                                    <input class="rd-navbar-search-form-input form-input" id="rd-navbar-search-form-input" type="text"
                                    name="s" autocomplete="off">
                                    <div class="rd-search-results-live"></div>
                                </div>
                            <button class="rd-search-form-submit mdi mdi-magnify"></button>
                            </form>
                        </div>
                        <a class="button button-sm button-default-outline button-nina" href="http://ld-wp2.template-help.com/novi-builder/brave_v2/" target="_blank">Click
                        </a>
                    </div>
                </div>    
                
            </div>
        </nav>
    </div>
    <!-- Breadcrumbs-->
    <section class="breadcrumbs-custom breadcrumbs-custom-svg">
        <div class="container">
            <p class="breadcrumbs-custom-subtitle">Terms of Use</p>
            <p class="heading-1 breadcrumbs-custom-title">Privacy Policy</p>
            <ul class="breadcrumbs-custom-path">
            <li><a href="index.html">Home</a></li>
            <li class="active">Privacy Policy</li>
            </ul>
        </div>
        
        <div class="parallax-scene-js parallax-scene" data-scalar-x="5" data-scalar-y="10">
            <div class="layer-01">
                <div class="layer" data-depth="0.25"><img style="transform: rotate(-24deg);" src="{{asset "images/elements/orangemaple.svg"}}" alt="" width="32" />
            </div>
            </div>
            <div class="layer-02">
                <div class="layer" data-depth=".55"><img style="transform: rotate(4deg);" src="{{asset "images/elements/house-thin-leaf.svg"}}" alt="" width="75" />
            </div>
            </div>
            <div class="layer-03">
                <div class="layer" data-depth="0.1"><img style="transform: rotate(-34deg);" src="{{asset "images/elements/yellowleaf.svg"}}" alt="" width="50" />
            </div>
            </div>
            <div class="layer-04">
                <div class="layer" data-depth="0.25"><img style="transform: rotate(14deg);" src="{{asset "images/elements/purpleoak.svg"}}" alt="" width="75" />
            </div>
            </div>
            <div class="layer-05">
                <div class="layer" data-depth="0.15"><img style="transform: rotate(-14deg);" src="{{asset "images/elements/redleaf.svg"}}" alt="" width="65" />
            </div>
            </div>
            <div class="layer-06">
                <div class="layer" data-depth="0.65"><img style="transform: rotate(54deg);" src="{{asset "images/elements/yellowoak.svg"}}" alt="" width="55" />
            </div>
            </div>
        </div>
    </section>
</header>