<!DOCTYPE html>
<html class="wide wow-animation" lang="{{@site.lang}}">
    <head>
        <!-- Site Title-->
        <title>Classic Blog</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="HandheldFriendly" content="True" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Oswald:200,400%7CLato:300,400,300italic,700%7CMontserrat:900">
        <link rel="stylesheet" href="{{asset "built/bootstrap.css"}}">
        <link rel="stylesheet" href="{{asset "built/style.css"}}">
        <link rel="stylesheet" href="{{asset "built/fonts.css"}}">
        {{ghost_head}}
        <style>.ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}</style>
    </head>
    <body class="{{body_class}}">
        {{> "pre-loader"}}
        <div class="ie-panel"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img
            src="{{asset "images/ie8-panel/warning_bar_0000_us.jpg"}}" height="42" width="820"
            alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a>
        </div>
        {{{body}}}       
    </body>
    <script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous">
    </script>
    <script src="{{asset "built/core.min.js"}}"></script>
    <script src="{{asset "built/casper.js"}}"></script>
</html>
