{{!< default}}
<div class="page">
    <!-- Page Header-->
    <header class="section novi-bg novi-bg-img page-header breadcrumbs-custom-wrap bg-gradient bg-secondary-2">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap rd-navbar-default">
            {{"navigation"}}
        </div>
        <!-- Breadcrumbs-->
        <section class="tall breadcrumbs-custom breadcrumbs-custom-lg breadcrumbs-custom-svg">
            <div class="container">
                <h1 class="front-and-center regular-case align-left fadeIn">Hi. We need to talk.</h1>
                <!--<h3 class="typed-text-wrap">It's about your&nbsp;<span class="typed-text"></span>.</h3>-->
                <h4 class="front-and-center alilspace xxl align-left">It's about your sales and marketing...</h4>
                <div class="front-and-center group-md button-group align-left"><a
                        class="button button-secondary button-nina" href="#welldoc"
                        data-custom-scroll-to="#welldoc">Well,
                        Doc, It Started Like This...</a></div>

                <div class="headparallax parallax-scene-js parallax-scene" data-scalar-x="10" data-scalar-y="15">
                    <div class="layer-shrink">
                        <div class="layer" data-depth="0.3"><img src="{{asset "images/shrink.svg"}}" alt=""
                                width="682" />
                        </div>
                    </div>
                    <div class="gold-maple-small">
                        <div class="layer small-parallax" data-depth="0.3">
                            <img src="{{asset "assets/images/elements/orangeoak.svg"}}" alt="" width="100" />
                        </div>
                    </div>
                    <div class="red-leaf-big">
                        <div class="layer" data-depth="0.2"><img src="{{asset "images/elements/redleaf.svg"}}" alt=""
                                width="54" />
                        </div>
                    </div>

                    <div class="pink-leaf-regular">
                        <div class="layer" data-depth="0.3"><img src="{{asset "assets/images/elements/pinkleaf.svg"}}"
                                alt="" width="124" />
                        </div>
                    </div>

                    <div class="purple-oak-small">
                        <div class="layer" data-depth="0.4"><img src="{{asset "images/elements/purpleoak.svg"}}" alt=""
                                width="200" />
                        </div>
                    </div>

                    <div class="purple-leaf-regular">
                        <div class="layer" data-depth="0.65"><img src="{{asset "images/elements/purpleleaf.svg"}}"
                                alt="" width="104" />
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </header>

    <a id="welldoc" name="welldoc"></a>
    <section class="section section-lg bg-default text-center">
        <!-- section wave-->
        <div class="section-wave">
            <svg x="0px" y="0px" width="1920px" height="46px" viewbox="0 0 1920 46" preserveAspectRatio="none">
                <path
                    d="M1920,0.5c-82.8,0-109.1,44-192.3,44c-78.8,0-116.2-44-191.7-44c-77.1,0-115.9,44-192,44c-78.2,0-114.6-44-192-44c-78.4,0-115.3,44-192,44c-76.9-0.1-119-44-192-44c-77,0-115.2,44-192,44c-73.6,0-114-44-190.9-44c-78.5,0-117.2,44-194.1,44c-75.9,0-113-44-191-44V46h1920V0.5z">
                </path>
            </svg>
        </div>
        <div class="container">

            <div class="section2 section-parallax parallax-scene-js parallax-scene" data-scalar-x="10"
                data-scalar-y="15">

                <div class="gold-maple-small-section2">
                    <div class="layer small-parallax" data-depth="0.18">
                        <img src="{{asset "images/elements/orangeoak.svg"}}" alt="" width="100" />
                    </div>
                </div>
                <div class="pink-leaf-small">
                    <div class="layer" data-depth="0.15"><img src="{{asset "images/elements/pinkleaf.svg"}}" alt=""
                            width="75" />
                    </div>
                </div>

                <div class="purple-leaf-regular-section2">
                    <div class="layer" data-depth="0.2"><img src="{{asset "images/elements/purpleleaf.svg"}}" alt=""
                            width="104" />
                    </div>
                </div>

                <div class="orangemaple-section2">
                    <div class="layer" data-depth="0.1"><img src="{{asset "images/elements/orangemaple.svg"}}" alt=""
                            width="204" />
                    </div>
                </div>

                <div class="house-thin-leaf-section2">
                    <div class="layer" data-depth="0.2"><img src="{{asset "images/elements/house-thin-leaf.svg"}}"
                            alt="" width="104" />
                    </div>
                </div>

                <div class="purpleoak-section2">
                    <div class="layer" data-depth="0.2"><img src="{{asset "images/elements/purpleoak.svg"}}" alt=""
                            width="154" />
                    </div>
                </div>

            </div>

            <!-- Section wave-->

            <div class="container container-wide">
                <div class="row justify-content-sm-center">
                    <div class="col-lg-9 col-xl-8 col-xxl-6">
                        <h3>You're frustrated. <br />We can tell.</h3>
                        <div class="divider house-gradient"></div>
                        <p>Your marketing is either nonexistent or ineffective. Your sales team has no lead funnel to
                            work.
                            The whole thing is operating under a nonexistent brand. You just want to understand what's
                            working and what's not before you dump a boatload of cash into yet another "good idea." We
                            get
                            that.</p>
                        <div class="time-line-vertical">
                            <div class="time-line-vertical-element time-line-vertical-element-offset">
                                <div class="unit unit-sm flex-column flex-md-row unit-spacing-xxl">
                                    <div class="unit-left">
                                        <div class="time-line-time">
                                            <time class="wow fadeInLeft" data-wow-delay=".6s" datetime="2019">
                                                <h4 class="fifteen-pointer">You're cautious. And
                                                    rightfully so.</h4>
                                            </time>
                                        </div>
                                    </div>
                                    <div class="unit-body">
                                        <div class="time-line-content wow fadeInRight" data-wow-delay=".6s">
                                            <img src="{{asset "images/elements/soldierstanding.svg"}}" alt=""
                                                width="270" />
                                            <p>It's rough out there. Agencies promise the world and deliver with
                                                expensive
                                                retainers and
                                                broken dreams.
                                                <br /><br />
                                                <span class="highlight"> Marketing doesn't have to be that hard.</span>
                                                <br /><br />
                                                We're not like those other agencies.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="time-line-vertical-element time-line-vertical-element-offset">
                                <div class="unit flex-column flex-md-row unit-spacing-xxl">
                                    <div class="unit-left">
                                        <div class="time-line-time">
                                            <time class="wow fadeInLeft" data-wow-delay=".7s" datetime="2019">
                                                <h4 class="fifteen-pointer">Those people you've
                                                    been hanging around are bad news.
                                                </h4>
                                            </time>
                                        </div>
                                    </div>
                                    <div class="unit-body">
                                        <div class="time-line-content wow fadeInRight" data-wow-delay=".7s"><img
                                                src="{{asset "images/pirates.svg"}}" alt="" width="370" />
                                            <p>We toiled at bad agencies and we worked with bad marketers. We even wrote
                                                a
                                                book on Bad
                                                Marketing. We got sick of everyone destroying the industries we love,
                                                strategy and marketing,
                                                so we started a marketing lab and idea tank focused on one thing:
                                                <br /><br />

                                                <span class="highlight">Doing what we love for companies that need what
                                                    we
                                                    do.</span>
                                                <br /><br />

                                                Simple, really.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="time-line-vertical-element time-line-vertical-element-offset">
                                <div class="unit flex-column flex-md-row unit-spacing-xxl">
                                    <div class="unit-left">
                                        <div class="time-line-time">
                                            <time class="wow fadeInLeft" data-wow-delay=".8s" datetime="2019">
                                                <h4 class="fifteen-pointer">You have a complicated offering that no one
                                                    takes the time to learn.
                                                </h4>
                                            </time>
                                        </div>
                                    </div>
                                    <div class="unit-body">
                                        <div class="time-line-content wow fadeInRight" data-wow-delay=".8s">
                                            <img src="{{asset "images/elements/pissed.svg"}}" alt="" width="370" />
                                            <p>Whether the market just doesn't "get" what you do or all the marketing
                                                people
                                                you have worked with before don't understand the first thing about your
                                                business, you are continuously disappointed in how little people invest
                                                in
                                                getting to know the intricacies of your offering.
                                                <br /><br />
                                                And certainly, <span class="highlight">you have better things to be
                                                    doing</span> than detangling this complicated web,
                                                but you can't stand to see money go down the drain.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>

    <!-- what we do-->
    <section class="section section-variant-2 bg-gray-darker">

        <div class="section-wave">
            <svg x="0px" y="0px" width="100%" viewbox="0 0 1920 46" preserveAspectRatio="none">

                <defs>
                    <linearGradient id="Gradient1">
                        <stop class="stop1" offset="0%" />
                        <stop class="stop2" offset="100%" />
                    </linearGradient>
                    <linearGradient id="Gradient2" x1="0" x2="0" y1="0" y2="1">
                        <stop offset="0%" stop-color="#120a22" />
                        <stop offset="95%" stop-color="#2e1a47" />
                    </linearGradient>
                    <style type="text/css">
                        #wave1 {
                            fill: url(#Gradient1);
                        }

                        .stop1 {
                            stop-color: #120a22;
                        }

                        .stop2 {
                            stop-color: #2e1a47;
                        }
                    </style>
                </defs>
                <path id="wave1"
                    d="M1920,0.5c-82.8,0-109.1,44-192.3,44c-78.8,0-116.2-44-191.7-44c-77.1,0-115.9,44-192,44c-78.2,0-114.6-44-192-44c-78.4,0-115.3,44-192,44c-76.9-0.1-119-44-192-44c-77,0-115.2,44-192,44c-73.6,0-114-44-190.9-44c-78.5,0-117.2,44-194.1,44c-75.9,0-113-44-191-44V46h1920V0.5z">
                </path>
            </svg>
        </div>

        <div class="container-wide">
            <h2 class="whitish text-center">We Just Want To Help...</h2>
            <div class="row justify-content-sm-center">
                <div class="divider center zero-auto house-gradient"></div>
                <div class="gimme-some-room"></div>
            </div>
            <p>For the majority of our clients, we deliver a comprehensive, holistic marketing strategy (read:
                blueprints
                for
                three years of brand, marketing, and sales) followed by on-demand CMO-as-a-service consultation services
                delivered
                on a regular basis. For others, we offer turnkey execution and 100% project management services.</p>
            <div class="row row-50 row-xxl-90 offset-custom-2 text-left justify-content-center">
                <div class="col-sm-10 col-md-6 col-xl-3">
                    <article class="box-minimal">
                        <div class="box-minimal-header">
                            <div class="box-minimal-icon"><img src="{{asset "images/rocket.svg"}}" width="40"></div>
                            <h6 class="box-minimal-title">Growth Strategy</h6>
                        </div>
                        <div class="box-minimal-text">The most soup-to-nuts, innovative, custom-fit marketing strategy,
                            sales strategy, and overall business growth strategy in the
                            industry. This is our flagship product that simply cannot be beat by anything else in the
                            industry. It
                            is the blueprints by which the next thirty-six months of your business can be directed.
                        </div>
                    </article>
                </div>
                <div class="col-sm-10 col-md-6 col-xl-3">
                    <article class="box-minimal">
                        <div class="box-minimal-header">
                            <div class="box-minimal-icon"><img src="{{asset "images/dart.svg"}}" width="55"></div>
                            <h6 class="box-minimal-title">Brand Position</h6>
                        </div>
                        <div class="box-minimal-text">Unifying your organization behind a single voice, position,
                            slogan,
                            and
                            value proposition is critical to making efficient use of your marketing efforts. We make
                            this
                            process
                            painless and actually fun.
                        </div>
                    </article>
                </div>
                <div class="col-sm-10 col-md-6 col-xl-3">
                    <article class="box-minimal">
                        <div class="box-minimal-header">
                            <div class="box-minimal-icon"><img src="{{asset "images/icons/whiteboard.svg"}}" width="50">
                            </div>
                            <h6 class="box-minimal-title">CMO-As-A-Service</h6>
                        </div>
                        <div class="box-minimal-text">All the services of a Chief Marketing Officer, without the huge
                            salary
                            or
                            commitment. You're trying to run a team and a business, not be a marketing director. We make
                            the
                            decisions, control the output, and align it with your business objectives.</div>
                    </article>
                </div>
                <div class="col-sm-10 col-md-6 col-xl-3">
                    <article class="box-minimal">
                        <div class="box-minimal-header">
                            <div class="box-minimal-icon"><img src="{{asset "images/icons/lightbulb.svg"}}" width="35"></div>
                            <h6 class="box-minimal-title">Campaigns</h6>
                        </div>
                        <div class="box-minimal-text">The heavy-hitting idea, visuals, and plan you need to usher in
                            your
                            business's next evolution. We bring powerhouse concepts to the table and the deep skillsets
                            to
                            execute
                            them. Those unwilling to change need not apply.</div>
                    </article>
                </div>
                <!-- row 2-->
                <div class="col-sm-10 col-md-6 col-xl-3">
                    <article class="box-minimal">
                        <div class="box-minimal-header">
                            <div class="box-minimal-icon"><img src="{{asset "images/treasurechest.svg"}}" width="40"></div>
                            <h6 class="box-minimal-title">Brand Design</h6>
                        </div>
                        <div class="box-minimal-text">From the ground floor on up or by reimagining an existing brand,
                            we
                            birth brands everyday--whether visual,
                            textual, or otherwise. So much more than a logo, your brand is the foundation upon which you
                            build your
                            organization. A shaky foundation results in a shaky house.
                        </div>
                    </article>
                </div>
                <div class="col-sm-10 col-md-6 col-xl-3">
                    <article class="box-minimal">
                        <div class="box-minimal-header">
                            <div class="box-minimal-icon"><img src="{{asset "images/icons/swords.svg"}}" width="40"></div>
                            <h6 class="box-minimal-title">Sales Enablement</h6>
                        </div>
                        <div class="box-minimal-text">We believe that sales and marketing, at their cores, are the same
                            thing:
                            persuasion. Marketing and sales always travel hand-in-hand. We offer sales strategy, sales
                            asset
                            development, and sales copy that is seamlessly intertwined with your marketing efforts.
                        </div>
                    </article>
                </div>
                <div class="col-sm-10 col-md-6 col-xl-3">
                    <article class="box-minimal">
                        <div class="box-minimal-header">
                            <div class="box-minimal-icon"><img src="{{asset "images/compass.svg"}}" width="40"></div>
                            <h6 class="box-minimal-title">Stack Assembly</h6>
                        </div>
                        <div class="box-minimal-text">If you have 800 moving components and SaaS tied to your sales and
                            marketing
                            efforts, you're paying too much in both your time and your dollars. Software-agnotically, we
                            guide and
                            implement stacks that align your technical needs and your business objectives.</div>
                    </article>
                </div>
                <div class="col-sm-10 col-md-6 col-xl-3">
                    <article class="box-minimal">
                        <div class="box-minimal-header">
                            <div class="box-minimal-icon"><img src="{{asset "images/icons/computer.svg"}}" width="40"></div>
                            <h6 class="box-minimal-title">Website Strategy</h6>
                        </div>
                        <div class="box-minimal-text">If you have 800 moving components and SaaS tied to your sales and
                            marketing
                            efforts, you're paying too much in both your time and your dollars. Software-agnotically, we
                            guide and
                            implement stacks that align your technical needs and your business objectives.</div>
                    </article>
                </div>
            </div>
        </div>
        <div class="gimme-some-room"></div>
        <div class="gimme-some-room"></div>
    </section>

    <!---

            NEW SECTION
            --->

    <section class="section novi-bg novi-bg-img section-variant-1 bg-default">

        <div class="section-wave">
            <svg x="0px" y="0px" width="100%" viewbox="0 0 1920 46" preserveAspectRatio="none">
                <path
                    d="M1920,0.5c-82.8,0-109.1,44-192.3,44c-78.8,0-116.2-44-191.7-44c-77.1,0-115.9,44-192,44c-78.2,0-114.6-44-192-44c-78.4,0-115.3,44-192,44c-76.9-0.1-119-44-192-44c-77,0-115.2,44-192,44c-73.6,0-114-44-190.9-44c-78.5,0-117.2,44-194.1,44c-75.9,0-113-44-191-44V46h1920V0.5z">
                </path>
            </svg>
        </div>
        <div class="container container-wide">
            <div class="row row-50 justify-content-md-center justify-content-xl-end justify-content-xxl-end">
                <div class="col-md-9 col-lg-8 col-xl-6 col-xxl-5">
                    <div class="box-range-content box-range-content-1">
                        <p class="heading-5">You're ready to fight back.
                        </p><br />
                        <p class="heading-5">Because you deserve more.</p><br />

                        <h4>And because <span class="highlight">your business deserves more.</span>

                        </h4>
                        <div class="divider house-gradient"></div>
                        <p class="text-spacing-sm">You need a different style of attack. Something actually different.
                            You need a smart resource to call upon that will fight for your growth with all the passion,
                            investment, and enthusiasm that you have.</p><a class="button button-default button-nina"
                            href="http://ld-wp2.template-help.com/novi-builder/brave_v2/" target="_blank">Let's Team
                            Up</a>
                    </div>
                </div>

                <div class="col-md-9 col-lg-8 col-xl-6 jp-video-init">
                    <div class="build-video">
                        <!---->
                        <div class="build-video-inner">
                            <div class="parallax-scene-js warrior-princess parallax-scene parallax-scene-image"
                                data-scalar-x="5" data-scalar-y="10">
                                <div class="warrior-princess-svg">
                                    <div class="layer" data-depth="0.75"><img src="{{asset "images/warriorprincess.svg"}}"
                                            alt="" width="582" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>

    <section class="section section-xs text-center bg-gray-darker">
        <div class="section-wave">
            <svg x="0px" y="0px" width="100%" viewbox="0 0 1920 46" preserveAspectRatio="none">

                <defs>
                    <linearGradient id="Gradient1">
                        <stop class="stop1" offset="0%" />
                        <stop class="stop2" offset="100%" />
                    </linearGradient>
                    <linearGradient id="Gradient2" x1="0" x2="0" y1="0" y2="1">
                        <stop offset="0%" stop-color="#120a22" />
                        <stop offset="95%" stop-color="#2e1a47" />
                    </linearGradient>
                    <style type="text/css">
                        #wave2 {
                            fill: url(#Gradient1);
                        }

                        .stop1 {
                            stop-color: #120a22;
                        }

                        .stop2 {
                            stop-color: #2e1a47;
                        }
                    </style>
                </defs>
                <path id="wave2"
                    d="M1920,0.5c-82.8,0-109.1,44-192.3,44c-78.8,0-116.2-44-191.7-44c-77.1,0-115.9,44-192,44c-78.2,0-114.6-44-192-44c-78.4,0-115.3,44-192,44c-76.9-0.1-119-44-192-44c-77,0-115.2,44-192,44c-73.6,0-114-44-190.9-44c-78.5,0-117.2,44-194.1,44c-75.9,0-113-44-191-44V46h1920V0.5z">
                </path>
            </svg>
        </div>
        <div class="container-wide">
            <div class="box-cta-thin">
                <p class="big"><span class="badge-cta badge-cta-primary">We <span class="fas fa-heart"></span> Free,
                        Useful Content!</span><br /><br /><span class="gimme-some-room"> </span>Only our most useful
                    templates, tips, sessions, hacks, and cheatsheets are
                    worthy of your inbox.</span><br /><button class="button button-primary button-nina" type="button"
                        data-toggle="modal" data-target="#show-modal">Subscribe to our newsletter!</button></p>
                <div class="gimme-some-room"></div>
            </div>
        </div>
    </section>

    <div class="modal modal-custom fade" id="show-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true"></span></button>
                    <h4 class="modal-title">Newsletter</h4>
                </div>
                <div class="modal-body">
                    <p>Keep up with our always upcoming news and updates.<br class="d-none d-md-inline"> Enter your
                        e-mail
                        and subscribe to our newsletter.</p>
                    <!-- Subscribe form-->
                    <!-- RD Mailform: Subscribe-->
                    <form class="rd-mailform rd-mailform-inline rd-mailform-sm" data-form-output="form-output-global"
                        data-form-type="subscribe" method="post" action="bat/rd-mailform.php">
                        <div class="rd-mailform-inline-inner">
                            <div class="form-wrap">
                                <input class="form-input" type="email" name="email" data-constraints="@Email @Required"
                                    id="subscribe-form-email-1">
                                <label class="form-label" for="subscribe-form-email-1">Enter your e-mail</label>
                            </div>
                            <button class="button form-button button-sm button-secondary button-nina"
                                type="submit">Subscribe</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- latest news-->
    <section class="section section-lg bg-default text-center">

        <div class="section-wave">
            <svg x="0px" y="0px" width="100%" viewbox="0 0 1920 46" preserveAspectRatio="none">
                <path
                    d="M1920,0.5c-82.8,0-109.1,44-192.3,44c-78.8,0-116.2-44-191.7-44c-77.1,0-115.9,44-192,44c-78.2,0-114.6-44-192-44c-78.4,0-115.3,44-192,44c-76.9-0.1-119-44-192-44c-77,0-115.2,44-192,44c-73.6,0-114-44-190.9-44c-78.5,0-117.2,44-194.1,44c-75.9,0-113-44-191-44V46h1920V0.5z">
                </path>
            </svg>
        </div>

        <div class="container-wide">
            <div class="row">
                <div class="col-sm-12">
                    <h3>latest news</h3>
                    <div class="divider divider-default"></div>
                    <div class="row row-50">
                        <div class="col-md-6 col-xl-4">
                            <article class="event-default-wrap">
                                <div class="event-default">
                                    <figure class="event-default-image"><img src="{{asset "images/landing-seo-1-570x370.jpg"}}"
                                            alt="" width="570" height="370" />
                                    </figure>
                                    <div class="event-default-caption"><a
                                            class="button button-xs button-secondary button-nina"
                                            href="registration-page.html">book now</a></div>
                                </div>
                                <div class="event-default-inner">
                                    <div class="box-inline"><span
                                            class="icon novi-icon icon-md-middle icon-secondary mdi mdi-calendar"></span><a
                                            class="event-default-link" href="single-post.html">April 13, 2019 at 12:15
                                            pm</a></div>
                                    <h5><a class="event-default-title" href="single-post.html">Google Rethinking Payday
                                            Loans & Doorway
                                            Pages?</a></h5>
                                </div>
                            </article>
                        </div>
                        <div class="col-md-6 col-xl-4">
                            <article class="event-default-wrap">
                                <div class="event-default">
                                    <figure class="event-default-image"><img src="{{asset "images/landing-seo-2-570x370.jpg"}}"
                                            alt="" width="570" height="370" />
                                    </figure>
                                    <div class="event-default-caption"><a
                                            class="button button-xs button-secondary button-nina"
                                            href="registration-page.html">book now</a></div>
                                </div>
                                <div class="event-default-inner">
                                    <div class="box-inline"><span
                                            class="icon novi-icon icon-md-middle icon-secondary mdi mdi-calendar"></span><a
                                            class="event-default-link" href="single-post.html">April 13, 2019 at 12:15
                                            pm</a></div>
                                    <h5><a class="event-default-title" href="single-post.html">Benefits of Using Modern
                                            Promotion
                                            Technologies</a></h5>
                                </div>
                            </article>
                        </div>
                        <div class="col-md-6 col-xl-4">
                            <article class="event-default-wrap">
                                <div class="event-default">
                                    <figure class="event-default-image"><img src="{{asset "images/landing-seo-3-570x370.jpg"}}"
                                            alt="" width="570" height="370" />
                                    </figure>
                                    <div class="event-default-caption"><a
                                            class="button button-xs button-secondary button-nina"
                                            href="registration-page.html">book now</a></div>
                                </div>
                                <div class="event-default-inner">
                                    <div class="box-inline"><span
                                            class="icon novi-icon icon-md-middle icon-secondary mdi mdi-calendar"></span><a
                                            class="event-default-link" href="single-post.html">April 13, 2019 at 12:15
                                            pm</a></div>
                                    <h5><a class="event-default-title" href="single-post.html">How Google Search Works
                                            in
                                            2019</a></h5>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div><a class="button button-default button-nina" href="classic-blog.html">view all blog posts</a>
        </div>
    </section>

    <section class="section section-md text-center text-md-left bg-gray-darker">

        <div class="section-wave">
            <svg x="0px" y="0px" width="100%" viewbox="0 0 1920 46" preserveAspectRatio="none">

                <defs>
                    <linearGradient id="Gradient1">
                        <stop class="stop1" offset="0%" />
                        <stop class="stop2" offset="100%" />
                    </linearGradient>
                    <linearGradient id="Gradient2" x1="0" x2="0" y1="0" y2="1">
                        <stop offset="0%" stop-color="#120a22" />
                        <stop offset="95%" stop-color="#2e1a47" />
                    </linearGradient>
                    <style type="text/css">
                        #wave2 {
                            fill: url(#Gradient1);
                        }

                        .stop1 {
                            stop-color: #120a22;
                        }

                        .stop2 {
                            stop-color: #2e1a47;
                        }
                    </style>
                </defs>
                <path id="wave2"
                    d="M1920,0.5c-82.8,0-109.1,44-192.3,44c-78.8,0-116.2-44-191.7-44c-77.1,0-115.9,44-192,44c-78.2,0-114.6-44-192-44c-78.4,0-115.3,44-192,44c-76.9-0.1-119-44-192-44c-77,0-115.2,44-192,44c-73.6,0-114-44-190.9-44c-78.5,0-117.2,44-194.1,44c-75.9,0-113-44-191-44V46h1920V0.5z">
                </path>
            </svg>
        </div>
        <div class="gimme-some-room"></div>
        <div class="container-wide">
            <div class="row row-50 justify-content-sm-center">
                <div class="col-xxl-8">
                    <div class="box-cta box-cta-inline">
                        <div class="box-cta-inner">
                            <h3 class="box-cta-title">schedule a consultation</h3>
                            <p>You like us. We like you. By spending a little time communicating, we can see if this is
                                the
                                beginning a beautiful partnership..</p>
                        </div>
                        <div class="box-cta-inner"><a class="button button-primary button-nina"
                                href="schedule.html"><span
                                    style="transition: opacity 0.22s ease 0s, transform 0.22s ease 0s, color 0.22s ease 0s;">s</span><span
                                    style="transition: opacity 0.22s ease 0.03s, transform 0.22s ease 0.03s, color 0.22s ease 0s;">c</span><span
                                    style="transition: opacity 0.22s ease 0.06s, transform 0.22s ease 0.06s, color 0.22s ease 0s;">h</span><span
                                    style="transition: opacity 0.22s ease 0.09s, transform 0.22s ease 0.09s, color 0.22s ease 0s;">e</span><span
                                    style="transition: opacity 0.22s ease 0.12s, transform 0.22s ease 0.12s, color 0.22s ease 0s;">d</span><span
                                    style="transition: opacity 0.22s ease 0.15s, transform 0.22s ease 0.15s, color 0.22s ease 0s;">u</span><span
                                    style="transition: opacity 0.22s ease 0.18s, transform 0.22s ease 0.18s, color 0.22s ease 0s;">le</span><span
                                    style="transition: opacity 0.22s ease 0.21s, transform 0.22s ease 0.21s, color 0.22s ease 0s;">&nbsp;</span><span
                                    style="transition: opacity 0.22s ease 0.24s, transform 0.22s ease 0.24s, color 0.22s ease 0s;">n</span><span
                                    style="transition: opacity 0.22s ease 0.27s, transform 0.22s ease 0.27s, color 0.22s ease 0s;">ow</span><span
                                    class="button-original-content"
                                    style="transition: background 0.22s ease 0s, color 0.22s ease 0s, transform 0.22s ease 0.3s;">Schedule
                                    Now</span></a></div>
                        <div class="gimme-some-room"></div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Page Footer-->
    <!-- Footer Minimal-->
    <footer class="section novi-bg novi-bg-img page-footer page-footer-minimal text-center bg-gray-darker">

        <div class="section-wave">
            <svg x="0px" y="0px" width="100%" viewbox="0 0 1920 46" preserveAspectRatio="none">
                <path
                    d="M1920,0.5c-82.8,0-109.1,44-192.3,44c-78.8,0-116.2-44-191.7-44c-77.1,0-115.9,44-192,44c-78.2,0-114.6-44-192-44c-78.4,0-115.3,44-192,44c-76.9-0.1-119-44-192-44c-77,0-115.2,44-192,44c-73.6,0-114-44-190.9-44c-78.5,0-117.2,44-194.1,44c-75.9,0-113-44-191-44V46h1920V0.5z">
                </path>
            </svg>
        </div>

        <div class="container container-wide">
            <div class="row justify-content-sm-center align-items-md-center row-30">
                <div class="col-md-10 col-lg-7 col-xl-4 text-xl-left">
                    <!--Brand--><a class="brand-name" href="index.html"><img class="logo"
                            src="{{asset "images/logo-white-horizontal-no-marketing.svg"}}" width="230" /></a>
                </div>
                <div class="col-md-10 col-lg-7 col-xl-4">
                    <p class="rights"><span>&copy;&nbsp;</span><span
                            class="copyright-year"></span><span>&nbsp;</span><span>OAKwave</span><span>.&nbsp;</span><a
                            href="privacy-policy.html">Privacy Policy</a></p>
                </div>
                <div class="col-md-10 col-lg-7 col-xl-4 text-xl-right">
                    <ul class="group-xs group-middle">
                        <li><a class="icon novi-icon icon-md-middle icon-circle icon-secondary-5-filled mdi mdi-facebook"
                                href="#"></a></li>
                        <li><a class="icon novi-icon icon-md-middle icon-circle icon-secondary-5-filled mdi mdi-twitter"
                                href="#"></a></li>
                        <li><a class="icon novi-icon icon-md-middle icon-circle icon-secondary-5-filled mdi mdi-instagram"
                                href="#"></a></li>
                        <li><a class="icon novi-icon icon-md-middle icon-circle icon-secondary-5-filled mdi mdi-google"
                                href="#"></a></li>
                        <li><a class="icon novi-icon icon-md-middle icon-circle icon-secondary-5-filled mdi mdi-linkedin"
                                href="#"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</div>