{{!< default}}
<div class="page">
    <header class="section novi-bg novi-bg-img page-header breadcrumbs-custom-wrap bg-gradient bg-secondary-2">
        <div class="rd-navbar-wrap rd-navbar-default">
            {{"navigation"}}
        </div>
        <!-- Breadcrumbs-->
        <section class="breadcrumbs-custom breadcrumbs-custom-svg">
            <div class="container">
                <p class="breadcrumbs-custom-subtitle">Terms of Use</p>
                <p class="heading-1 breadcrumbs-custom-title">Privacy Policy</p>
                <ul class="breadcrumbs-custom-path">
                    <li><a href="index.html">Home</a></li>
                    <li class="active">Privacy Policy</li>
                </ul>
            </div>

            <div class="parallax-scene-js parallax-scene" data-scalar-x="5" data-scalar-y="10">
                <div class="layer-01">
                    <div class="layer" data-depth="0.25"><img style="transform: rotate(-24deg);"
                            src="{{asset "images/elements/orangemaple.svg"}}" alt="" width="32" />
                    </div>
                </div>
                <div class="layer-02">
                    <div class="layer" data-depth=".55"><img style="transform: rotate(4deg);"
                            src="{{asset "images/elements/house-thin-leaf.svg"}}" alt="" width="75" />
                    </div>
                </div>
                <div class="layer-03">
                    <div class="layer" data-depth="0.1"><img style="transform: rotate(-34deg);"
                            src="{{asset "images/elements/yellowleaf.svg"}}" alt="" width="50" />
                    </div>
                </div>
                <div class="layer-04">
                    <div class="layer" data-depth="0.25"><img style="transform: rotate(14deg);"
                            src="{{asset "images/elements/purpleoak.svg"}}" alt="" width="75" />
                    </div>
                </div>
                <div class="layer-05">
                    <div class="layer" data-depth="0.15"><img style="transform: rotate(-14deg);"
                            src="{{asset "images/elements/redleaf.svg"}}" alt="" width="65" />
                    </div>
                </div>
                <div class="layer-06">
                    <div class="layer" data-depth="0.65"><img style="transform: rotate(54deg);"
                            src="{{asset "images/elements/yellowoak.svg"}}" alt="" width="55" />
                    </div>
                </div>
            </div>
        </section>
    </header>
    <!-- Blog-->
    <section class="section section-xl bg-gray-lighter">
        <!-- section wave-->
        <div class="section-wave">
            <svg x="0px" y="0px" width="1920px" height="46px" viewbox="0 0 1920 46" preserveAspectRatio="none">
                <path
                    d="M1920,0.5c-82.8,0-109.1,44-192.3,44c-78.8,0-116.2-44-191.7-44c-77.1,0-115.9,44-192,44c-78.2,0-114.6-44-192-44c-78.4,0-115.3,44-192,44c-76.9-0.1-119-44-192-44c-77,0-115.2,44-192,44c-73.6,0-114-44-190.9-44c-78.5,0-117.2,44-194.1,44c-75.9,0-113-44-191-44V46h1920V0.5z">
                </path>
            </svg>
        </div>
        <div class="container container-bigger">
            <div class="row row-ten row-50 row-md-90 justify-content-md-center justify-content-xl-between">
                <div class="col-md-9 col-lg-6 blog-classic-main text-center">
                    <!-- Post classic-->
                    {{#foreach posts}}
                        <article class="post-classic">
                            <a class="post-classic-media" href="{{url}}">
                                <img src="{{img_url feature_image}}" alt="" width="870" height="580" />
                            </a>
                            <div class="post-classic-body">
                                <p class="post-classic-title"><a href="{{url}}">{{title}}{{url}}</a></p>
                                <ul class="post-classic-meta">
                                    <li><span class="icon mdi mdi-account"></span><span>by<a
                                                href="about-me.html">{{authors}}</a></span></li>
                                    <li><span class="icon mdi mdi-calendar-clock"></span>
                                        <time datetime="2019">{{date}}</time>
                                    </li>
                                    <li><span class="icon mdi mdi-tag"></span><a href="#">{{tags}}</a></li>
                                </ul>
                                <div class="post-classic-text">
                                    <p>Imagine almost any situation where two or more people are gathered—a wedding
                                        reception or a job interview. What do these situations have in common? Almost
                                        all of them involve people trying to talk with each other. But in these very
                                        moments where a conversation would enhance an encounter, we often fall short.
                                        When small talk stalls out, it’s often due to a phenomenon we call “mirroring.”
                                    </p>
                                </div>
                                <div class="post-classic-footer"><a
                                        class="button button-sm button-secondary button-nina"
                                        href="single-post.html">Continue reading</a>
                                    <div>
                                        <ul class="post-classic-info">
                                            <li><span class="icon mdi mdi-eye"></span><span>193</span></li>
                                            <li><a href="single-post.html"><span
                                                        class="icon mdi mdi-comment"></span><span>3</span></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </article>
                    {{/foreach}}
                    <a class="button button-default-outline button-nina button-block button-blog" href="#">Load more
                        posts</a>
                    <ul class="pagination-custom">
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                    </ul>
                </div>
                <div class="col-md-9 col-lg-4 col-xl-3 blog-aside">
                    <div class="blog-aside-item">
                        <h6>Search</h6>
                        <form class="rd-search rd-search-modern" action="search-results.html" method="GET">
                            <div class="form-wrap">
                                <input class="rd-search-input form-input" id="rd-search-input" type="text" name="s"
                                    autocomplete="off">
                                <label class="form-label form-label" for="rd-search-input">Search</label>
                            </div>
                            <button class="button mdi mdi-magnify" type="submit"></button>
                        </form>
                    </div>
                    <div class="blog-aside-item">
                        <h6>Archive</h6>
                        <ul class="list-marked list-marked-secondary">
                            <li><a href="#">January 2019</a></li>
                            <li><a href="#">February 2019</a></li>
                            <li><a href="#">March 2019</a></li>
                            <li><a href="#">April 2019</a></li>
                            <li><a href="#">May 2019</a></li>
                        </ul>
                    </div>
                    <div class="blog-aside-item">
                        <h6>About us</h6>
                        <p>Made to be used by anyone who is looking for a stunning multifunctional website, this
                            template is a universal solution, which can be used already after being installed. It
                            differs from other similar projects in everything - be it the initial concept or the final
                            look.</p><a class="button button-xs button-default-outline button-nina"
                            href="about-us.html">learn more</a>
                    </div>
                    <div class="blog-aside-item">
                        <h6>categories</h6>
                        <ul class="list-marked list-marked-secondary">
                            <li><a href="#">Business</a></li>
                            <li><a href="#">Tips & Tricks</a></li>
                            <li><a href="#">Reviews</a></li>
                            <li><a href="#">News</a></li>
                            <li><a href="#">Marketing</a></li>
                        </ul>
                    </div>
                    <div class="blog-aside-item">
                        <h6>twitter feed</h6>
                        <ul class="twitter list-twitter" data-twitter-username="templatemonster">
                            <li data-twitter-type="tweet">
                                <div class="unit flex-sm-row">
                                    <div class="unit-left"><span
                                            class="mdi mdi-twitter twitter-icon icon-md-middle"></span></div>
                                    <div class="unit-body">
                                        <p data-tweet="text"></p>
                                        <time data-date="text" data-datetime="datetime" datetime="2019"></time>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="blog-aside-item">
                        <h6>recent blog posts</h6>
                        <!-- Post minimal-->
                        <article class="post-minimal">
                            <p class="post-minimal-title"><a href="single-post.html">How to Turn Small Talk Into Smart
                                    Conversation</a></p>
                            <time class="post-minimal-time" datetime="2019">Feb 27, 2019 at 5:47 pm</time>
                        </article>
                        <!-- Post minimal-->
                        <article class="post-minimal">
                            <p class="post-minimal-title"><a href="single-post.html">The Top 5 Reasons Why ‘The Customer
                                    Is Always Right’ Is Wrong</a></p>
                            <time class="post-minimal-time" datetime="2019">Feb 27, 2019 at 5:47 pm</time>
                        </article>
                        <!-- Post minimal-->
                        <article class="post-minimal">
                            <p class="post-minimal-title"><a href="single-post.html">It’s 10 AM. Do You Know What Your
                                    Sales Reps Are Doing?</a></p>
                            <time class="post-minimal-time" datetime="2019">Feb 27, 2019 at 5:47 pm</time>
                        </article>
                    </div>
                    <div class="blog-aside-item">
                        <!-- Facebook Feed-->
                        <div id="fb-root">
                            <div class="fb-page-responsive">
                                <div class="fb-page" data-href="https://www.facebook.com/TemplateMonster"
                                    data-tabs="timeline" data-height="540" data-small-header="false"
                                    data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                                    <div class="fb-xfbml-parse-ignore">
                                        <blockquote cite="https://www.facebook.com/TemplateMonster"><a
                                                href="https://www.facebook.com/TemplateMonster">TemplateMonster</a>
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <!-- Page Footer-->
    <!-- Footer Extended-->
    <footer
        class="section novi-bg novi-bg-img page-footer page-footer-extended text-center text-lg-left bg-gray-darker">
        <div class="google-map-wrap">
            <!-- Google Map-->
            <div class="google-map-container" data-center="9870 St Vincent Place, Glasgow, DC 45 Fr 45." data-zoom="5"
                data-icon="images/gmap_marker.png" data-icon-active="images/gmap_marker_active.png">
                <div class="google-map"></div>
                <ul class="google-map-markers">
                    <li data-location="9870 St Vincent Place, Glasgow, DC 45 Fr 45."
                        data-description="9870 St Vincent Place, Glasgow"></li>
                </ul>
            </div>
        </div>
        <div class="container container-wide">
            <div class="row justify-content-sm-center justify-content-lg-between justify-content-xl-end row-135">
                <div class="col-md-8 col-lg-6 col-xl-5">
                    <div class="contact-info-wrap">
                        <h6>contact information</h6>
                        <div class="tabs-custom tabs-horizontal tabs-line tabs-line-small" id="tabs-2">
                            <!-- Nav tabs-->
                            <ul class="list-fix nav nav-tabs">
                                <li class="nav-item"><a class="nav-link active" href="#tabs-extended-2-1"
                                        data-toggle="tab">San Diego</a></li>
                                <li class="nav-item"><a class="nav-link" href="#tabs-extended-2-2" data-toggle="tab">New
                                        York</a></li>
                                <li class="nav-item"><a class="nav-link" href="#tabs-extended-2-3"
                                        data-toggle="tab">Chicago</a></li>
                            </ul>
                            <!-- Tab panes-->
                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="tabs-extended-2-1">
                                    <ul class="list-xs list-darker">
                                        <li class="box-inline"><span
                                                class="icon novi-icon icon-md-smaller icon-primary mdi mdi-map-marker"></span>
                                            <div><a href="#">2130 Fulton Street, San Diego, CA 94117-1080 USA</a></div>
                                        </li>
                                        <li class="box-inline"><span
                                                class="icon novi-icon icon-md-smaller icon-primary mdi mdi-phone"></span>
                                            <ul class="list-comma">
                                                <li><a href="tel:#">1-800-1234-567</a></li>
                                                <li><a href="tel:#">1-800-6780-345</a></li>
                                            </ul>
                                        </li>
                                        <li class="box-inline"><span
                                                class="icon novi-icon icon-md-smaller icon-primary mdi mdi-email-open"></span><a
                                                href="mailto:#">mail@demolink.org</a></li>
                                    </ul>
                                </div>
                                <div class="tab-pane fade" id="tabs-extended-2-2">
                                    <ul class="list-xs list-darker">
                                        <li class="box-inline"><span
                                                class="icon novi-icon icon-md-smaller icon-primary mdi mdi-map-marker"></span><a
                                                href="#">2130 Fulton Street, New York, NY 94117-1080 USA</a></li>
                                        <li class="box-inline"><span
                                                class="icon novi-icon icon-md-smaller icon-primary mdi mdi-phone"></span>
                                            <ul class="list-comma">
                                                <li><a href="tel:#">1-800-0987-654</a></li>
                                                <li><a href="tel:#">1-800-0987-654</a></li>
                                            </ul>
                                        </li>
                                        <li class="box-inline"><span
                                                class="icon novi-icon icon-md-smaller icon-primary mdi mdi-email-open"></span><a
                                                href="mailto:#">newyork@demolink.org</a></li>
                                    </ul>
                                </div>
                                <div class="tab-pane fade" id="tabs-extended-2-3">
                                    <ul class="list-xs list-darker">
                                        <li class="box-inline"><span
                                                class="icon novi-icon icon-md-smaller icon-primary mdi mdi-map-marker"></span><a
                                                href="#">2130 Fulton Street, Chicago, IL 94117-1080 USA</a></li>
                                        <li class="box-inline"><span
                                                class="icon novi-icon icon-md-smaller icon-primary mdi mdi-phone"></span>
                                            <ul class="list-comma">
                                                <li><a href="tel:#">1-800-6543-765</a></li>
                                                <li><a href="tel:#">1-800-3434-876</a></li>
                                            </ul>
                                        </li>
                                        <li class="box-inline"><span
                                                class="icon novi-icon icon-md-smaller icon-primary mdi mdi-email-open"></span><a
                                                href="mailto:#">chicago@demolink.org</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <h6>Gallery</h6>
                        <div class="instafeed">
                            <div class="row row-narrow row-10" data-lightgallery="group">
                                <div class="col-4 col-sm-3">
                                    <div class="thumbnail-instafeed thumbnail-instafeed-minimal"><a
                                            class="instagram-link" data-lightgallery="item"
                                            href="images/project-1-1200x800-original.jpg"><img class="instagram-image"
                                                src="{{asset "images/footer-01-115x115.jpg"}}" alt="" width="115"
                                                height="115" /></a>
                                        <div class="caption">
                                            <ul class="list-inline">
                                                <li><span class="icon novi-icon mdi mdi-plus"></span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4 col-sm-3">
                                    <div class="thumbnail-instafeed thumbnail-instafeed-minimal"><a
                                            class="instagram-link" data-lightgallery="item"
                                            href="images/project-2-1200x800-original.jpg"><img class="instagram-image"
                                                src="{{asset "images/footer-02-115x115.jpg"}}" alt="" width="115"
                                                height="115" /></a>
                                        <div class="caption">
                                            <ul class="list-inline">
                                                <li><span class="icon novi-icon mdi mdi-plus"></span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4 col-sm-3">
                                    <div class="thumbnail-instafeed thumbnail-instafeed-minimal"><a
                                            class="instagram-link" data-lightgallery="item"
                                            href="images/project-3-1200x800-original.jpg"><img class="instagram-image"
                                                src="{{asset "images/footer-03-115x115.jpg"}}" alt="" width="115"
                                                height="115" /></a>
                                        <div class="caption">
                                            <ul class="list-inline">
                                                <li><span class="icon novi-icon mdi mdi-plus"></span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4 col-sm-3">
                                    <div class="thumbnail-instafeed thumbnail-instafeed-minimal"><a
                                            class="instagram-link" data-lightgallery="item"
                                            href="images/project-4-1200x800-original.jpg"><img class="instagram-image"
                                                src="{{asset "images/footer-04-115x115.jpg"}}" alt="" width="115"
                                                height="115" /></a>
                                        <div class="caption">
                                            <ul class="list-inline">
                                                <li><span class="icon novi-icon mdi mdi-plus"></span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 col-lg-5 col-xl-3">
                    <h6>recent blog posts</h6>
                    <div class="blog-inline-wrap">
                        <!-- Blog Inline-->
                        <article class="blog-inline">
                            <div class="blog-inline-title"><a href="single-post.html">How to Turn Small Talk Into Smart
                                    Conversation</a></div>
                            <ul class="blog-inline-meta">
                                <li><a href="single-post.html"> 2 days ago</a></li>
                                <li>
                                    by&nbsp;<a class="text-normal" href="single-post.html">Ronald Chen</a></li>
                            </ul>
                        </article>
                        <!-- Blog Inline-->
                        <article class="blog-inline">
                            <div class="blog-inline-title"><a href="single-post.html">The Top 5 Reasons Why ‘The
                                    Customer Is Always Right’ Is Wrong</a></div>
                            <ul class="blog-inline-meta">
                                <li><a href="single-post.html"> 2 days ago</a></li>
                                <li>
                                    by&nbsp;<a class="text-normal" href="single-post.html">Ronald Chen</a></li>
                            </ul>
                        </article>
                        <!-- Blog Inline-->
                        <article class="blog-inline">
                            <div class="blog-inline-title"><a href="single-post.html">Think You’re Too Old to Be an
                                    Entrepreneur? Think Again.</a></div>
                            <ul class="blog-inline-meta">
                                <li><a href="single-post.html"> 2 days ago</a></li>
                                <li>
                                    by&nbsp;<a class="text-normal" href="single-post.html">Ronald Chen</a></li>
                            </ul>
                        </article>
                        <!-- Blog Inline-->
                        <article class="blog-inline">
                            <div class="blog-inline-title"><a href="single-post.html">Why Google Doesn’t Care About
                                    College Degrees</a></div>
                            <ul class="blog-inline-meta">
                                <li><a href="single-post.html"> 2 days ago</a></li>
                                <li>
                                    by&nbsp;<a class="text-normal" href="single-post.html">Ronald Chen</a></li>
                            </ul>
                        </article>
                    </div>
                </div>
                <div class="col-xl-8">
                    <div
                        class="row flex-lg-row-reverse justify-content-sm-center align-items-lg-center row-135 justify-content-xl-start">
                        <div class="col-md-10 col-lg-5 col-xl-5 col-xxl-5 text-center">
                            <ul class="group-xs group-middle social-icons-list">
                                <li><a class="icon novi-icon icon-md-smaller icon-circle icon-secondary-5-filled mdi mdi-facebook"
                                        href="#"></a></li>
                                <li><a class="icon novi-icon icon-md-smaller icon-circle icon-secondary-5-filled mdi mdi-twitter"
                                        href="#"></a></li>
                                <li><a class="icon novi-icon icon-md-smaller icon-circle icon-secondary-5-filled mdi mdi-instagram"
                                        href="#"></a></li>
                                <li><a class="icon novi-icon icon-md-smaller icon-circle icon-secondary-5-filled mdi mdi-google"
                                        href="#"></a></li>
                                <li><a class="icon novi-icon icon-md-smaller icon-circle icon-secondary-5-filled mdi mdi-linkedin"
                                        href="#"></a></li>
                            </ul>
                        </div>
                        <div class="col-md-10 col-lg-7 col-xl-7 col-xxl-6">
                            <p class="rights"><span>&copy;&nbsp;</span><span
                                    class="copyright-year"></span><span>&nbsp;</span><span>Brave
                                    Theme</span><span>.&nbsp;</span><a href="privacy-policy.html">Privacy Policy</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>